certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.2
idna==3.10
numpy==2.2.6
paho-mqtt==2.1.0
pillow==11.2.1
pycparser==2.22
pygnssutils==1.1.13
pygpsclient==1.5.8
pynmeagps==1.0.50
pyrtcm==1.1.6
pyserial==3.5
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
pyspartn==1.0.5
pyubx2==1.2.52
pyubxutils==1.0.3
requests==2.32.3
scipy==1.15.3
shiboken6==6.9.0
urllib3==2.4.0
