certifi
cffi
charset-normalizer
cryptography
idna
numpy
paho-mqtt
pillow
pycparser
pygnssutils
pygpsclient
pynmeagps
pyrtcm
pyserial
PySide6
PySide6_Addons
PySide6_Essentials
pyspartn
pyubx2
pyubxutils
requests
scipy
shiboken6
urllib3

-e vendor/mscl_prebuilt
